version: "3.9"

services:
  web:
    build: ./app
    container_name: flask_app
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_NAME: demo_db
      DB_USER: demo_username
      DB_PASS: demo_password
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: demo_db
      POSTGRES_USER: demo_username
      POSTGRES_PASSWORD: demo_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build: ./frontend
    container_name: docker_frontend
    ports:
      - "8080:80"
    depends_on:
      - web

volumes:
  postgres_data:
